@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_variables.scss";
@import "_tailwind.scss";

body {
  color: #060606;
  background: var(--background-main);
  min-height: 100vh;
}
